.EditorCtaButton {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 46px;
	border: 1px solid var(--theme-text);
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	font-weight: 400;
	border-radius: 5px;
	text-decoration: none;
	margin: 1em 0;
}

.EditorCtaButton:hover {
	text-decoration: none;
}
